In [1]:
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [2]:
import pandas as pd

In [8]:
balls = pd.read_csv('./data/IPL_Ball_by_Ball_2008_2022.csv')

In [9]:
balls.shape

(225954, 17)

In [6]:
matches = pd.read_csv('./data/IPL_Matches_2008_2022.csv')

In [7]:
matches.shape

(950, 20)

In [12]:
balls.head(15)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
5,1312200,1,0,6,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
6,1312200,1,1,1,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
7,1312200,1,1,2,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
8,1312200,1,1,3,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
10,1312200,1,1,5,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
11,1312200,1,1,6,YBK Jaiswal,Yash Dayal,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
12,1312200,1,2,1,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
13,1312200,1,2,2,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
14,1312200,1,2,3,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals

In [45]:
balls['non_boundary'].unique()

array([0, 1], dtype=int64)

In [46]:
balls['non_boundary'].value_counts()

non_boundary
0    225933
1        21
Name: count, dtype: int64

In [13]:
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [19]:
balls['isWicketDelivery'].unique()

array([0, 1], dtype=int64)

In [21]:
(balls['isWicketDelivery'] == 1).sum()
#matches the number of non null rows in palyer)out and kind columns

11151

In [14]:
balls.describe()

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery
count,2.259540e+05,225954.000000,225954.000000,225954.000000,225954.000000,225954.000000,225954.00000,225954.000000,225954.000000
mean,8.320470e+05,1.483868,9.185679,3.619750,1.243523,0.066907,1.31043,0.000093,0.049351
std,3.379542e+05,0.503104,5.681797,1.810633,1.618166,0.341470,1.60605,0.009640,0.216600
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,5.012620e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,8.297370e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.00000,0.000000,0.000000
75%,1.178395e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.00000,0.000000,0.000000
max,1.312200e+06,6.000000,19.000000,10.000000,6.000000,7.000000,7.00000,1.000000,1.000000

In [15]:
matches.head(10)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit

In [16]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [17]:
matches['method'].unique()

array([nan, 'D/L'], dtype=object)

In [18]:
matches['method'].value_counts()

method
D/L    19
Name: count, dtype: int64

In [23]:
matches['Season'].unique()

array(['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08'],
      dtype=object)

In [27]:
matches['Season'] = matches['Season'].replace({'2020/21': '2020', '2009/10': '2010', '2007/08': '2008'})

In [28]:
matches['Season'].unique()

array(['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2008'],
      dtype=object)

In [35]:
matches.shape

(950, 20)

We want only the matches where D/L is not applied

In [36]:
matches = matches[matches['method'].isna()]

In [37]:
matches.shape

(931, 20)

In [38]:
merged_df = pd.merge(balls,matches[['ID',"Season"]],on='ID',how='left')

In [39]:
merged_df.tail(15)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Season
225939,335982,2,13,1,Z Khan,SC Ganguly,P Kumar,NaN,0,0,0,0,1,Z Khan,bowled,NaN,Royal Challengers Bangalore,2008
225940,335982,2,13,2,SB Joshi,SC Ganguly,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225941,335982,2,13,3,P Kumar,SC Ganguly,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225942,335982,2,13,4,P Kumar,SC Ganguly,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225943,335982,2,13,5,P Kumar,SC Ganguly,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225944,335982,2,13,6,P Kumar,SC Ganguly,SB Joshi,NaN,6,0,6,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225945,335982,2,14,1,SB Joshi,I Sharma,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225946,335982,2,14,2,SB Joshi,I Sharma,P Kumar,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225947,335982,2,14,3,SB Joshi,I Sharma,P Kumar,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225948,335982,2,14,4,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2008
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,2008

In [40]:
# Split the data into training, validation, and test sets based on seasons
train_seasons = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015','2016', '2017','2018', '2019']
val_seasons = ['2020', '2021',]
test_seasons = ['2022']

In [41]:
train_data = merged_df[merged_df['Season'].isin(train_seasons)]
val_data = merged_df[merged_df['Season'].isin(val_seasons)]
test_data = merged_df[merged_df['Season'].isin(test_seasons)]

In [42]:
# Check the size of each set
print(f"Training set size: {len(train_data)}")
print(f"Validation set size: {len(val_data)}")
print(f"Test set size: {len(test_data)}")

Training set size: 175850
Validation set size: 28984
Test set size: 17912

In [43]:
matches['method'].unique()

array([nan], dtype=object)

In [44]:
train_data.head(15)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Season
46896,1181768,1,0,1,Q de Kock,DL Chahar,RG Sharma,NaN,1,0,1,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46897,1181768,1,0,2,RG Sharma,DL Chahar,Q de Kock,NaN,1,0,1,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46898,1181768,1,0,3,Q de Kock,DL Chahar,RG Sharma,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46899,1181768,1,0,4,Q de Kock,DL Chahar,RG Sharma,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46900,1181768,1,0,5,Q de Kock,DL Chahar,RG Sharma,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46901,1181768,1,0,6,Q de Kock,DL Chahar,RG Sharma,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46902,1181768,1,1,1,RG Sharma,SN Thakur,Q de Kock,NaN,2,0,2,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46903,1181768,1,1,2,RG Sharma,SN Thakur,Q de Kock,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46904,1181768,1,1,3,RG Sharma,SN Thakur,Q de Kock,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46905,1181768,1,1,4,RG Sharma,SN Thakur,Q de Kock,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46906,1181768,1,1,5,RG Sharma,SN Thakur,Q de Kock,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46907,1181768,1,1,6,RG Sharma,SN Thakur,Q de Kock,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46908,1181768,1,2,1,Q de Kock,DL Chahar,RG Sharma,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46909,1181768,1,2,2,Q de Kock,DL Chahar,RG Sharma,wides,0,1,1,0,0,NaN,NaN,NaN,Mumbai Indians,2019
46910,1181768,1,2,3,Q de Kock,DL Chahar,RG Sharma,NaN,0,0,0,0,0,NaN,NaN,NaN,Mumbai Indians,2019

In [97]:
len(train_data['batter'].unique())

514

In [95]:
len(pd.concat([train_data['batter'],train_data['bowler']]).unique())

556

In [79]:
train_data['extra_type'].unique()

array([nan, 'wides', 'byes', 'legbyes', 'noballs', 'penalty'],
      dtype=object)

In [50]:
batgroup = train_data.groupby(['batter'])
# Group details on bowler
bowlgroup = train_data.groupby(['bowler'])

batdf = pd.DataFrame(batgroup['ballnumber'].count()).rename(columns={'ballnumber':'balls_faced'})

In [55]:
batdf['matches_played'] = batgroup['ID'].nunique()

In [58]:
batdf['runs'] = batgroup['batsman_run'].sum()

In [72]:
batdf['4s'] = train_data[(train_data['batsman_run'] == 4) & (train_data['non_boundary'] == 0)].groupby('batter')['batsman_run'].count()

In [73]:
batdf['4s'].fillna(0,inplace=True)

In [75]:
batdf['6s'] = train_data[(train_data['batsman_run'] == 6) & (train_data['non_boundary'] == 0)].groupby('batter')['batsman_run'].count()
batdf['6s'].fillna(0,inplace=True)

In [ ]:
batdf['1s'] = train_data[(train_data['batsman_run'] == 1) & (train_data['extras_run'] == 0)].groupby('batter')['batsman_run'].count()
batdf['1s'].fillna(0,inplace=True)

In [82]:
batdf['2s'] = train_data[(train_data['batsman_run'] == 2) & (train_data['extras_run'] == 0)].groupby('batter')['batsman_run'].count()
batdf['2s'].fillna(0,inplace=True)

In [84]:
# Strike Rate = (Runs Scored / Balls faced) * 100
batdf['bat_strike'] = round(batdf['runs']/batdf['balls_faced']*100,2)

In [86]:
#explosivity rating = Total no. of boundaries hit / Total no. of balls faced
batdf['explosivity_rating'] = round((batdf['4s']+batdf['6s'])/batdf['balls_faced'],2)

In [87]:
batdf.tail(10)

,balls_faced,matches_played,runs,4s,6s,1s,2s,bat_strike,explosivity_rating
batter,,,,,,,,,
Y Prithvi Raj,1,1,0,0.0,0.0,0.0,0.0,0.00,0.00
Y Venugopal Rao,865,52,985,77.0,37.0,340.0,53.0,113.87,0.13
YA Abdulla,1,1,0,0.0,0.0,0.0,0.0,0.00,0.00
YK Pathan,2282,149,3143,257.0,154.0,856.0,151.0,137.73,0.18
YS Chahal,49,12,21,0.0,0.0,16.0,1.0,42.86,0.00
YV Takawale,183,10,192,26.0,3.0,40.0,12.0,104.92,0.16
Yashpal Singh,67,4,47,5.0,0.0,20.0,2.0,70.15,0.07
Younis Khan,7,1,3,0.0,0.0,3.0,0.0,42.86,0.00
Yuvraj Singh,2108,121,2610,207.0,140.0,705.0,112.0,123.81,0.16
Z Khan,141,27,117,11.0,2.0,46.0,7.0,82.98,0.09

In [88]:
batdf.to_csv('batting_stats.csv', sep=',', index=False, encoding='utf-8')

wickets fallen
dot ball

# Innings Played Together

In [47]:
import pandas as pd

In [48]:
balls = pd.read_csv('./data/IPL_Ball_by_Ball_2008_2022.csv')
df = balls.iloc[:,:]
filtered_data = df[df['extra_type'].isnull()].copy()  # Use copy to avoid SettingWithCopyWarning

In [49]:
grouped_data = filtered_data.groupby(['batter', 'bowler'])

In [50]:
matches_played_together = pd.DataFrame(columns=['Player1', 'Player2', 'Match IDs'])

In [51]:
# Iterate over unique player pairs
for (player1, player2), group in grouped_data:
    # If they have played together in both innings, store the match IDs
    match_ids = list(group['ID'].unique())
    matches_played_together = pd.concat([matches_played_together, pd.DataFrame({
        'Player1': [player1],
        'Player2': [player2],
        'Match IDs': [match_ids]
    })], ignore_index=True)

In [53]:
# Function to check if the same two players appear in both innings or only in one inning
def check_innings_appearance(match_ids):
    result = []
    
    for match_id in match_ids:
        # Assuming 'innings' is a column in your original DataFrame
        innings_appearances = df[df['ID'] == match_id]['innings'].unique()
        # print(innings_appearances)
        
        if len(innings_appearances) == 2:
            result.append('Both Innings')
        elif len(innings_appearances) == 1:
            result.append(f'Inning {innings_appearances[0]}')
        elif len(innings_appearances) >= 4:
            result.append('Super Over')
        else:
            result.append('Not Found')

    return result

In [54]:
matches_played_together['Innings Appearance'] = matches_played_together['Match IDs'].apply(check_innings_appearance)

In [55]:
# Function to calculate innings played based on innings appearance
def calculate_innings_played(innings_appearances):
    innings_played = 0
    
    for appearance in innings_appearances:
        if 'Both Innings' in appearance or 'Super Over' in appearance:
            innings_played += 2
        elif 'Inning 1' in appearance:
            innings_played += 1
    
    return innings_played

# Apply the function to each row in the DataFrame
matches_played_together['Innings Played'] = matches_played_together['Innings Appearance'].apply(calculate_innings_played)

# Display the resulting DataFrame with innings played information
# print(matches_played_together[['Player1', 'Player2', 'Match IDs', 'Innings Appearance', 'Innings Played']])
matches_played_together

,Player1,Player2,Match IDs,Innings Appearance,Innings Played
0,A Ashish Reddy,A Nehra,"[829773, 598044]","[Both Innings, Both Innings]",4
1,A Ashish Reddy,AB Dinda,"[598018, 598000]","[Both Innings, Both Innings]",4
2,A Ashish Reddy,AD Mathews,"[829731, 598018]","[Both Innings, Both Innings]",4
3,A Ashish Reddy,AD Russell,[980915],[Both Innings],2
4,A Ashish Reddy,Anureet Singh,[829759],[Both Innings],2
...,...,...,...,...,...
24119,Z Khan,SR Watson,[335992],[Both Innings],2
24120,Z Khan,Shakib Al Hasan,[548315],[Both Innings],2
24121,Z Khan,Sohail Tanvir,[335992],[Both Innings],2
24122,Z Khan,VRV Singh,[336016],[Both Innings],2
24123,Z Khan,YK Pathan,[336023],[Both Innings],2

In [59]:
matches_played_together.sample(40)

,Player1,Player2,Match IDs,Innings Appearance,Innings Played
13743,MV Boucher,VRV Singh,[336016],[Both Innings],2
4485,DA Miller,Yuvraj Singh,"[733991, 598025]","[Both Innings, Both Innings]",4
20117,SP Jackson,RP Meredith,[1304102],[Both Innings],2
10901,LMP Simmons,HV Patel,[829795],[Both Innings],2
6322,FY Fazal,DR Smith,[419141],[Both Innings],2
1827,AN Ghosh,JH Kallis,[392221],[Both Innings],2
23245,WP Saha,Jaskaran Singh,[419135],[Both Innings],2
18031,Rashid Khan,DR Sams,[1304097],[Both Innings],2
11132,LS Livingstone,Arshdeep Singh,[1254111],[Both Innings],2
1398,AJ Tye,MP Stoinis,[1216500],[Both Innings],2
12457,MJ McClenaghan,DL Chahar,[1181768],[Both Innings],2
20039,SP Fleming,DP Vijaykumar,"[336037, 336007]","[Both Innings, Both Innings]",4
17258,RJ Harris,MR Marsh,[501248],[Both Innings],2
15513,PP Shaw,SS Cottrell,[1216493],[Super Over],2
23269,WP Saha,MC Henriques,"[980991, 829799, 829759, 734007]","[Both Innings, Both Innings, Both Innings, Bot...",8
15677,Q de Kock,Kuldeep Yadav,"[1304061, 1136589]","[Both Innings, Both Innings]",4
21547,Shahbaz Ahmed,M Prasidh Krishna,"[1312199, 1304085, 1304059]","[Both Innings, Both Innings, Both Innings]",6
6742,GJ Bailey,JP Duminy,"[829767, 829725]","[Both Innings, Both Innings]",4
14699,P Dogra,NLTC Perera,[598069],[Both Innings],2
9837,KH Pandya,B Kumar,"[1254066, 1082600, 980973, 980923]","[Both Innings, Both Innings, Both Innings, Bot...",8
11918,MA Agarwal,MM Patel,"[548367, 501270]","[Both Innings, Both Innings]",4
23304,WP Saha,R Ashwin,"[1216524, 1178423, 981005, 980919, 829753]","[Both Innings, Both Innings, Both Innings, Bot...",10
10678,KV Sharma,SB Styris,[392188],[Both Innings],2
22356,UBT Chand,K Santokie,[734017],[Both Innings],2
6654,GH Vihari,AD Mascarenhas,[598021],[Both Innings],2
673,AB de Villiers,P Negi,[980921],[Both Innings],2
11984,MA Khote,IK Pathan,[335991],[Both Innings],2
5551,DPMD Jayawardene,P Amarnath,[336013],[Both Innings],2
1661,AM Rahane,DJ Bravo,"[1304047, 980949, 829735, 548332, 501249]","[Both Innings, Both Innings, Both Innings, Bot...",10
2950,BB McCullum,KP Pietersen,[392199],[Both Innings],2
15258,PJ Sangwan,DJ Bravo,"[419152, 336004]","[Both Innings, Both Innings]",4
873,AC Gilchrist,V Sehwag,[392237],[Both Innings],2
7824,Ishan Kishan,Washington Sundar,"[1304111, 1254058, 1216547, 1216499, 1082629]","[Both Innings, Both Innings, Super Over, Both ...",10
8422,JH Kallis,Ankit Sharma,[548335],[Both Innings],2
21111,STR Binny,HV Patel,"[829749, 548336]","[Both Innings, Both Innings]",4
10510,KS Williamson,AJ Tye,[1136576],[Both Innings],2
23198,WP Saha,Bipul Sharma,[829799],[Both Innings],2
20460,SR Tendulkar,MJ Clarke,[548351],[Both Innings],2
13493,MS Dhoni,K Gowtham,[1175367],[Both Innings],2
2244,AT Rayudu,P Awana,"[598066, 548339, 548334]","[Both Innings, Both Innings, Both Innings]",6

In [60]:
odd_rows = matches_played_together[matches_played_together['Innings Appearance'].apply(lambda x: 'Inning 1' in x)]
odd_rows

,Player1,Player2,Match IDs,Innings Appearance,Innings Played
593,AB de Villiers,DS Kulkarni,"[981013, 980987, 980937, 829819, 829763, 82974...","[Both Innings, Both Innings, Both Innings, Bot...",13
623,AB de Villiers,JP Faulkner,"[829819, 829763, 829749, 733999, 598023]","[Both Innings, Inning 1, Both Innings, Both In...",9
679,AB de Villiers,PV Tambe,"[980987, 980937, 829763, 829749, 733999]","[Both Innings, Both Innings, Inning 1, Both In...",9
725,AB de Villiers,SR Watson,"[1136584, 829819, 829763, 829749, 733999, 598023]","[Both Innings, Both Innings, Inning 1, Both In...",11
728,AB de Villiers,STR Binny,"[829819, 829763, 598036]","[Both Innings, Inning 1, Both Innings]",5
737,AB de Villiers,TG Southee,"[980981, 980927, 829763, 501211]","[Both Innings, Both Innings, Inning 1, Both In...",7
3412,CA Ingram,MR Marsh,[501265],[Inning 1],1
3420,CA Ingram,R Sharma,[501265],[Inning 1],1
3433,CA Ingram,Yuvraj Singh,[501265],[Inning 1],1
3773,CH Gayle,TG Southee,"[1178417, 1136608, 1082602, 980981, 829763]","[Both Innings, Both Innings, Both Innings, Bot...",9
4312,D Wiese,DS Kulkarni,[829763],[Inning 1],1
4320,D Wiese,PV Tambe,[829763],[Inning 1],1
4323,D Wiese,SR Watson,[829763],[Inning 1],1
4498,DA Warner,AC Thomas,"[501265, 501213]","[Inning 1, Both Innings]",3
4572,DA Warner,JP Faulkner,"[1082643, 729285, 598049, 501265]","[Both Innings, Both Innings, Both Innings, Inn...",7
7335,HV Patel,TG Southee,"[1304052, 829763]","[Both Innings, Inning 1]",3
9687,KD Karthik,JP Faulkner,"[829763, 734011, 733975, 598072, 598063, 598019]","[Inning 1, Both Innings, Both Innings, Both In...",11
9751,KD Karthik,PV Tambe,"[829763, 733975, 598063]","[Inning 1, Both Innings, Both Innings]",5
9796,KD Karthik,STR Binny,"[981013, 829763, 598063, 598019, 501220]","[Both Innings, Inning 1, Both Innings, Both In...",9
9805,KD Karthik,TG Southee,"[1304052, 1136589, 829763, 501206]","[Both Innings, Both Innings, Inning 1, Both In...",7
13661,MS Wade,AC Thomas,[501265],[Inning 1],1
13669,MS Wade,JP Faulkner,[501265],[Inning 1],1
13678,MS Wade,MR Marsh,[501265],[Inning 1],1
13684,MS Wade,R Sharma,"[501265, 501213]","[Inning 1, Both Innings]",3
13686,MS Wade,SS Mundhe,[501265],[Inning 1],1
13781,Mandeep Singh,DS Kulkarni,"[829819, 829763, 501251]","[Both Innings, Inning 1, Both Innings]",5
13803,Mandeep Singh,JP Faulkner,"[1082621, 829819, 829763]","[Both Innings, Both Innings, Inning 1]",5
13844,Mandeep Singh,PV Tambe,[829763],[Inning 1],1
13874,Mandeep Singh,SR Watson,"[829819, 829763, 548354]","[Both Innings, Inning 1, Both Innings]",5
13875,Mandeep Singh,STR Binny,"[829819, 829763]","[Both Innings, Inning 1]",3
13880,Mandeep Singh,TG Southee,[829763],[Inning 1],1
14460,NV Ojha,AC Thomas,"[548333, 501265]","[Both Innings, Inning 1]",3
14512,NV Ojha,JP Faulkner,"[829787, 829727, 501265]","[Both Innings, Both Innings, Inning 1]",5
14575,NV Ojha,SS Mundhe,[501265],[Inning 1],1
19871,SN Khan,DS Kulkarni,"[1175359, 829763]","[Both Innings, Inning 1]",3
19885,SN Khan,JP Faulkner,[829763],[Inning 1],1
19905,SN Khan,PV Tambe,[829763],[Inning 1],1
19919,SN Khan,SR Watson,[829763],[Inning 1],1
19920,SN Khan,STR Binny,[829763],[Inning 1],1
19923,SN Khan,TG Southee,[829763],[Inning 1],1
22544,V Kohli,DS Kulkarni,"[1175369, 1136571, 1082610, 981013, 980987, 98...","[Both Innings, Both Innings, Both Innings, Bot...",21
22707,V Kohli,TG Southee,"[1304052, 1082602, 980981, 980927, 829763, 729...","[Both Innings, Both Innings, Both Innings, Bot...",13
23584,Y Venugopal Rao,Yuvraj Singh,"[501265, 501213, 392229, 392216]","[Inning 1, Both Innings, Both Innings, Both In...",7

In [61]:
matches_played_together.to_csv('./derived/matches_played_together.csv', index=False)

# done

In [19]:
import pandas as pd

# Assuming 'batter', 'non-striker', 'ID', 'innings' columns are present in your DataFrame
# Replace these with the actual column names in your dataset

# Load the ball-by-ball data
balls = pd.read_csv('./data/IPL_Ball_by_Ball_2008_2022.csv')
df = balls.iloc[:,:]
filtered_data = df[df['extra_type'].isnull()].copy()  # Use copy to avoid SettingWithCopyWarning


grouped_data = filtered_data.groupby(['batter', 'bowler'])

matches_played_together = pd.DataFrame(columns=['Player1', 'Player2', 'Match IDs'])

# Iterate over unique player pairs
for (player1, player2), group in grouped_data:
    # If they have played together in both innings, store the match IDs
    match_ids = list(group['ID'].unique())
    matches_played_together = pd.concat([matches_played_together, pd.DataFrame({
        'Player1': [player1],
        'Player2': [player2],
        'Match IDs': [match_ids]
    })], ignore_index=True)

# Display the resulting DataFrame
matches_played_together.tail(20)

      Player1           Player2           Match IDs
24104  Z Khan         KH Pandya            [980993]
24105  Z Khan         KV Sharma           [1082635]
24106  Z Khan          L Ablish            [419146]
24107  Z Khan         LR Shukla            [335982]
24108  Z Khan           P Kumar            [419119]
24109  Z Khan            P Negi  [1082646, 1082595]
24110  Z Khan         PP Chawla    [980903, 336006]
24111  Z Khan          R Ashwin            [501271]
24112  Z Khan  RN ten Doeschate            [548315]
24113  Z Khan          RP Singh    [548367, 392192]
24114  Z Khan         SB Jakati            [501271]
24115  Z Khan        SC Ganguly            [335982]
24116  Z Khan        SK Trivedi            [335992]
24117  Z Khan          SK Warne    [336023, 335992]
24118  Z Khan        SL Malinga            [548367]
24119  Z Khan         SR Watson            [335992]
24120  Z Khan   Shakib Al Hasan            [548315]
24121  Z Khan     Sohail Tanvir            [335992]
24122  Z Khan         VRV Singh            [336016]
24123  Z Khan         YK Pathan            [336023]

In [39]:
import pandas as pd

# Assuming 'Player1', 'Player2', 'Match IDs' columns are present in your DataFrame
# Replace these with the actual column names in your dataset

# Sample data
# 3	A Ashish Reddy	AD Russell	[980915]
# A Ashish Reddy	A Nehra	[829773, 598044]
# Z Khan	P Negi	[1082646, 1082595]
# 18	A Ashish Reddy	M Kartik	[598004]	[Not Found]
# data = {'Player1': ['A Ashish Reddy'], 'Player2': ['AD Russell'], 'Match IDs': [[980915]]}
# data = {'Player1': ['A Ashish Reddy'], 'Player2': ['A Nehra'], 'Match IDs': [[829773, 598044]]}
# data = {'Player1': ['Z Khan'], 'Player2': ['P Negi'], 'Match IDs': [[1082646, 1082595]]}
# data = {'Player1': ['A Ashish Reddy'], 'Player2': ['M Kartik'], 'Match IDs': [[598004]]}

# matches_played_together_test = pd.DataFrame(data)

# Function to check if the same two players appear in both innings or only in one inning
def check_innings_appearance(match_ids):
    result = []
    
    for match_id in match_ids:
        # Assuming 'innings' is a column in your original DataFrame
        innings_appearances = df[df['ID'] == match_id]['innings'].unique()
        # print(innings_appearances)
        
        if len(innings_appearances) == 2:
            result.append('Both Innings')
        elif len(innings_appearances) == 1:
            result.append(f'Inning {innings_appearances[0]}')
        elif len(innings_appearances) >= 4:
            result.append('Super Over')
        else:
            result.append('Not Found')

    return result

# Apply the function to each row in the DataFrame
# matches_played_together_test['Innings Appearance'] = matches_played_together_test['Match IDs'].apply(check_innings_appearance)

# Display the resulting DataFrame
# print(matches_played_together_test)

matches_played_together['Innings Appearance'] = matches_played_together['Match IDs'].apply(check_innings_appearance)

# Filter rows where innings appearance is not 'Both Innings'
# filtered_matches = matches_played_together[matches_played_together['Innings Appearance'] != 'Both Innings']
# filtered_matches = matches_played_together[~matches_played_together['Innings Appearance'].apply(lambda x: 'Both Innings' in x)]

# # Display the resulting DataFrame
# filtered_matches

              Player1         Player2  Match IDs Innings Appearance
18     A Ashish Reddy        M Kartik   [598004]       [Super Over]
271          A Nortje       CJ Jordan  [1216493]       [Super Over]
461        AB Agarkar     Kamran Khan   [392190]       [Super Over]
533       AB McDonald        S Nadeem   [598017]       [Super Over]
944    AD Mascarenhas   Anureet Singh   [392190]       [Super Over]
...               ...             ...        ...                ...
23108     Virat Singh        R Ashwin  [1254077]       [Super Over]
23671       YK Pathan      BAW Mendis   [392190]       [Super Over]
23894   Yashpal Singh  AD Mascarenhas   [392190]       [Super Over]
23900   Yashpal Singh       RA Jadeja   [392190]       [Super Over]
23901   Yashpal Singh        SK Warne   [392190]       [Super Over]

[218 rows x 4 columns]

In [40]:
filtered_matches['Innings Appearance'].value_counts()

Innings Appearance
[Super Over]    200
[Inning 1]       18
Name: count, dtype: int64

In [41]:
# Function to calculate innings played based on innings appearance
def calculate_innings_played(innings_appearances):
    innings_played = 0
    
    for appearance in innings_appearances:
        if 'Both Innings' in appearance or 'Super Over' in appearance:
            innings_played += 2
        elif 'Inning 1' in appearance:
            innings_played += 1
    
    return innings_played

# Apply the function to each row in the DataFrame
matches_played_together['Innings Played'] = matches_played_together['Innings Appearance'].apply(calculate_innings_played)

# Display the resulting DataFrame with innings played information
# print(matches_played_together[['Player1', 'Player2', 'Match IDs', 'Innings Appearance', 'Innings Played']])
matches_played_together

,Player1,Player2,Match IDs,Innings Appearance,Innings Played
0,A Ashish Reddy,A Nehra,"[829773, 598044]","[Both Innings, Both Innings]",4
1,A Ashish Reddy,AB Dinda,"[598018, 598000]","[Both Innings, Both Innings]",4
2,A Ashish Reddy,AD Mathews,"[829731, 598018]","[Both Innings, Both Innings]",4
3,A Ashish Reddy,AD Russell,[980915],[Both Innings],2
4,A Ashish Reddy,Anureet Singh,[829759],[Both Innings],2
...,...,...,...,...,...
24119,Z Khan,SR Watson,[335992],[Both Innings],2
24120,Z Khan,Shakib Al Hasan,[548315],[Both Innings],2
24121,Z Khan,Sohail Tanvir,[335992],[Both Innings],2
24122,Z Khan,VRV Singh,[336016],[Both Innings],2
24123,Z Khan,YK Pathan,[336023],[Both Innings],2

In [46]:
not_found_rows = matches_played_together[matches_played_together['Innings Appearance'].apply(lambda x: 'Inning 1' in x)]
not_found_rows

,Player1,Player2,Match IDs,Innings Appearance,Innings Played
593,AB de Villiers,DS Kulkarni,"[981013, 980987, 980937, 829819, 829763, 82974...","[Both Innings, Both Innings, Both Innings, Bot...",13
623,AB de Villiers,JP Faulkner,"[829819, 829763, 829749, 733999, 598023]","[Both Innings, Inning 1, Both Innings, Both In...",9
679,AB de Villiers,PV Tambe,"[980987, 980937, 829763, 829749, 733999]","[Both Innings, Both Innings, Inning 1, Both In...",9
725,AB de Villiers,SR Watson,"[1136584, 829819, 829763, 829749, 733999, 598023]","[Both Innings, Both Innings, Inning 1, Both In...",11
728,AB de Villiers,STR Binny,"[829819, 829763, 598036]","[Both Innings, Inning 1, Both Innings]",5
737,AB de Villiers,TG Southee,"[980981, 980927, 829763, 501211]","[Both Innings, Both Innings, Inning 1, Both In...",7
3412,CA Ingram,MR Marsh,[501265],[Inning 1],1
3420,CA Ingram,R Sharma,[501265],[Inning 1],1
3433,CA Ingram,Yuvraj Singh,[501265],[Inning 1],1
3773,CH Gayle,TG Southee,"[1178417, 1136608, 1082602, 980981, 829763]","[Both Innings, Both Innings, Both Innings, Bot...",9
4312,D Wiese,DS Kulkarni,[829763],[Inning 1],1
4320,D Wiese,PV Tambe,[829763],[Inning 1],1
4323,D Wiese,SR Watson,[829763],[Inning 1],1
4498,DA Warner,AC Thomas,"[501265, 501213]","[Inning 1, Both Innings]",3
4572,DA Warner,JP Faulkner,"[1082643, 729285, 598049, 501265]","[Both Innings, Both Innings, Both Innings, Inn...",7
7335,HV Patel,TG Southee,"[1304052, 829763]","[Both Innings, Inning 1]",3
9687,KD Karthik,JP Faulkner,"[829763, 734011, 733975, 598072, 598063, 598019]","[Inning 1, Both Innings, Both Innings, Both In...",11
9751,KD Karthik,PV Tambe,"[829763, 733975, 598063]","[Inning 1, Both Innings, Both Innings]",5
9796,KD Karthik,STR Binny,"[981013, 829763, 598063, 598019, 501220]","[Both Innings, Inning 1, Both Innings, Both In...",9
9805,KD Karthik,TG Southee,"[1304052, 1136589, 829763, 501206]","[Both Innings, Both Innings, Inning 1, Both In...",7
13661,MS Wade,AC Thomas,[501265],[Inning 1],1
13669,MS Wade,JP Faulkner,[501265],[Inning 1],1
13678,MS Wade,MR Marsh,[501265],[Inning 1],1
13684,MS Wade,R Sharma,"[501265, 501213]","[Inning 1, Both Innings]",3
13686,MS Wade,SS Mundhe,[501265],[Inning 1],1
13781,Mandeep Singh,DS Kulkarni,"[829819, 829763, 501251]","[Both Innings, Inning 1, Both Innings]",5
13803,Mandeep Singh,JP Faulkner,"[1082621, 829819, 829763]","[Both Innings, Both Innings, Inning 1]",5
13844,Mandeep Singh,PV Tambe,[829763],[Inning 1],1
13874,Mandeep Singh,SR Watson,"[829819, 829763, 548354]","[Both Innings, Inning 1, Both Innings]",5
13875,Mandeep Singh,STR Binny,"[829819, 829763]","[Both Innings, Inning 1]",3
13880,Mandeep Singh,TG Southee,[829763],[Inning 1],1
14460,NV Ojha,AC Thomas,"[548333, 501265]","[Both Innings, Inning 1]",3
14512,NV Ojha,JP Faulkner,"[829787, 829727, 501265]","[Both Innings, Both Innings, Inning 1]",5
14575,NV Ojha,SS Mundhe,[501265],[Inning 1],1
19871,SN Khan,DS Kulkarni,"[1175359, 829763]","[Both Innings, Inning 1]",3
19885,SN Khan,JP Faulkner,[829763],[Inning 1],1
19905,SN Khan,PV Tambe,[829763],[Inning 1],1
19919,SN Khan,SR Watson,[829763],[Inning 1],1
19920,SN Khan,STR Binny,[829763],[Inning 1],1
19923,SN Khan,TG Southee,[829763],[Inning 1],1
22544,V Kohli,DS Kulkarni,"[1175369, 1136571, 1082610, 981013, 980987, 98...","[Both Innings, Both Innings, Both Innings, Bot...",21
22707,V Kohli,TG Southee,"[1304052, 1082602, 980981, 980927, 829763, 729...","[Both Innings, Both Innings, Both Innings, Bot...",13
23584,Y Venugopal Rao,Yuvraj Singh,"[501265, 501213, 392229, 392216]","[Inning 1, Both Innings, Both Innings, Both In...",7